html, body {  
    height: 100%;  
    margin: 0;  
    /* background-color: white; */
    background-color: rgb(174, 174, 178);  /* Changed from white to midnight blue */
    display: flex;              
    justify-content: center;    
    align-items: center;        
    text-align: center;        
    flex-direction: column;  
}  

h1, p {  
    margin: 10px;          
}  
